body {
  background: #efefef;
  font-family: 'Andale Mono', courier, monospace;
}

#canvas {
  border:1px solid red;
}

.container {
  width: 760px;
  margin: 0 auto;

}

.wordsearch {
  padding: 10px 20px;
}

.board {
  cursor: pointer;
  float: left;
  width: 400px;
}

.new-game {
  margin-bottom: 20px;
}

.letter {
  width: 32px;
  height: 32px;
  font-size: 24px;
  display: inline-block;
}

.words {
  display: none;
  width: 300px;
  float: left;
}